*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #18200F;
    /* background-image: url(img/backdrop1.png); */
    
}
/* dashboard */
.img-plantCulture{
    width: 241px;
    height: 124px;
    flex-shrink: 0;
    padding: 2%;
}
.nav-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-left: 25em;
    margin-top: -6em;
    overflow: hidden;
}
  
li {
    float: left;
    margin-right: 30px;
} 
li a {
    text-align: center;
    font-family: sans-serif;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 125%;
}
.btn-book{
    padding: 1em;
    background-color: #DEB572;
    border-radius: 13px 3px 13px 3px;
    border: none;
    font-family: serif;
    margin-left: 74em;
    margin-top: -2em;
    font-size: 105%;
    display: block;
    cursor: pointer;
}
.img-flow{
    position: absolute;
    margin-left: 5%;
    margin-top: 2%;
}
.text-we{
    color: white;
    font-size: 350%;
    margin-right: 65%;
    margin-top: 7%;
    margin-left: 2em;
}
.text-lorem-dash{
    font-family: sans-serif;
    color: white;
    font-size: 120%;
    margin-right: 65%;
    margin-left: 7.5%;
    margin-top: 4%;
    line-height: 170%;
}
.btn-menu{
    padding: 1em 2em 1em 2em;
    color: #CDA16C;
    background-color: #101A24;
    filter: drop-shadow(0px 15px 30px rgba(0, 0, 0, 0.15));
    border-radius: 13px 3px 13px 3px;
    border: none;
    font-family: "David Libre";
    margin-left: 7.5%;
    margin-top: 2%;
    font-size: 105%;
    cursor: pointer;
}
.btn-book-1{
    padding: 1em 2em 1em 2em;
    background-color: #DEB572;
    border-radius: 13px 3px 13px 3px;
    border: none;
    font-family: "David Libre";
    margin-left: 17%;
    margin-top: -3em;
    font-size: 105%;
    display: block;
    cursor: pointer;
}
/* About */
