*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #18200F;
    /* background-image: url(img/backdrop1.png); */
    
}
/* dashboard */
.img-plantCulture{
    width: 241px;
    height: 124px;
    flex-shrink: 0;
    padding: 2%;
}
.nav-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-left: 25em;
    margin-top: -6em;
    overflow: hidden;
}
  
li {
    float: left;
    margin-right: 30px;
} 
li a {
    text-align: center;
    font-family: sans-serif;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 125%;
}
.btn-book{
    padding: 1em;
    background-color: #DEB572;
    border-radius: 13px 3px 13px 3px;
    border: none;
    font-family: serif;
    margin-left: 74em;
    margin-top: -2em;
    font-size: 105%;
    display: block;
    cursor: pointer;
}
.img-flow{
    position: absolute;
    margin-left: 5%;
    margin-top: 7%;
    width: 560px;
}
.text-we{
    color: white;
    font-size: 350%;
    margin-right: 65%;
    margin-left: 2em;
    margin-top: -159px;
   
}

.text-lorem-dash{
    font-family: sans-serif;
    color: white;
    font-size: 120%;
    margin-right: 65%;
    margin-left: 7.5%;
    margin-top: 4%;
    line-height: 170%;
}
.btn-menu{
    padding: 1em 2em 1em 2em;
    color: #CDA16C;
    background-color: #101A24;
    filter: drop-shadow(0px 15px 30px rgba(0, 0, 0, 0.15));
    border-radius: 13px 3px 13px 3px;
    border: none;
    font-family: "David Libre";
    margin-left: 7.5%;
    margin-top: 2%;
    font-size: 105%;
    cursor: pointer;
}
.btn-book-1{
    padding: 1em 2em 1em 2em;
    background-color: #DEB572;
    border-radius: 13px 3px 13px 3px;
    border: none;
    font-family: "David Libre";
    margin-left: 17%;
    margin-top: -3em;
    font-size: 105%;
    display: block;
    cursor: pointer;
}
.img-vector1{
    width: 448px;
    height: 192px;
    flex-shrink: 0;
    margin-left: 35%;
    margin-top: 3%;
}
.img-vector2{
    width: 315.274px;
    height: 299.106px;
    flex-shrink: 0;
    /* margin-left: ; */
}
    /* margin-left: 74%;
    margin-top: -179px;     
} */
.img-vector{
    margin-left: 78%;
    margin-top: -240px;
}
/* About */
.img-room{
    margin-top: 3%;
}
.img-rectangle{
    margin-left: 47%;
    margin-top: 5%;
}
.text-partner{
    color: #FFF;
    text-align: center;
    font-family: "David Libre";
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 65px; /* 108.333% */
    margin-top: 2%;
}
.rectangle-1{
    position: absolute;
    margin-left: 18%;
    margin-right: 20%;
    margin-top: 6%;
}
.rectangle-2{
    position: absolute;
    margin-left: 47%;
    margin-top: 6%;
}
.rectangle-3{
    position: absolute;
    margin-left: 79%;
    margin-top: 6%;
}
.text-pt{
    color: #FFF;
    text-align: center;
    font-family: "David Libre";
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 75px; /* 90.625% */
    margin-left: -60%;
}
.text-about{
    color: #FFF;
    text-align: center;
    font-family: "David Libre";
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 65px; /* 108.333% */
    margin-top: 30%;
}
.text-plant{
    color: #FFF;
    text-align: center;
    font-family: sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: 116%; /* 41.76px */
    padding-right: 10%;
    margin-top: 3%;
    margin-left: 10%;
}
.img-flow-1{
    margin-left: 28%;
    margin-top: 7%;
}
.img-plantPutih{
    position: absolute;
    margin-top: 15%;
    margin-left: -55%;
}
.text-lorem-about{
    color: #CDA16C;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 29px; /* 145% */
    /* position: absolute; */
    margin-top: -30%;
    margin-left: 13.5%;
    margin-right: 60%;
}
.a-learn{
    color: #CDA16C;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 29px;
    text-decoration-line: underline;
    cursor: pointer;
}
.text-opening{
    color: #FFF;
    font-family: sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; /* 266.667% */
    text-transform: uppercase;
    margin-top: 3%;
    margin-left: 13.5%;
}
.text-monday{
    color: #CDA16C;
    font-family: sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 29px; /* 145% */
    margin-left: 13.5%;
    margin-top: 1%;
    margin-right: 75%;
}
.text-navi{
    color: #FFF;
    font-family: sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; /* 266.667% */
    text-transform: uppercase;
    margin-top: -19%;
    margin-left: 46%;
}
.ul-menu li{
    color: #CDA16C;
    font-family: sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    /* text-decoration: none; */
    /* position: absolute; */
    margin-left: 46%;
    /* margin-right: 60%; */
    list-style: none;
}
.text-dishes{
    color: #FFF;
    font-family: sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; /* 266.667% */
    text-transform: uppercase;
    margin-top: -2.6%;
    margin-left: 61%;
}
.ul-fish li{
    color: #CDA16C;
    font-family: sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 200px;
    text-decoration: none;
    /* position: absolute; */
    margin-left: 61%;
    /* margin-right: 60%; */
    list-style: none;
    margin-top: -15%;
}





    /* padding-right: 18%;
    margin-top: 3%;
    margin-left: 20%;
} */
